<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${list}"></title>
</head>
<body>
<h1 th:text="${cookie}"></h1>
<h1 th:text="${list}"></h1>
<table border="1">
    <tr >
    <th>STT</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Action</th>
    </tr>
    <tr th:each="book,rowStat:${books}">
        <td th:text="${rowStat.index + 1}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.quantity}"></td>

        <td><a th:href="@{book/{id}(id=${book.id})}">Details</a> </td>
    </tr>
</table>
<a th:href="@{/return}">Trả sách</a>
</body>
</html>