<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layouts :: head">
    <title>DeleteProduct</title>
</head>
<body>
<h3>Remove Product</h3>
<p>
    <a th:href="@{/products}">
        Back to product list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/products/deletes}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}"/>
        </div>
        <div>
            <label for="email">Price</label>
            <input type="email" id="email" th:field="*{price}"/>
        </div>
        <div>
            <label for="address">Describe</label>
            <input type="text" id="address" th:field="*{describe}"/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
<footer th:replace="/layouts :: footer"></footer>
</body>
</html>